{{ attach_library('alergs_comissoes/app') }}
{{ attach_library('alergs_comissoes/react') }}

<div>
	<div id="comissoes-parlamentares">
    <div class="text-center">Carregando...</div>
  </div>
</div>
