{# {{ attach_library('alergs_comissoes/react-cdn') }} #}
{{ attach_library('alergs_comissoes/historico-reunioes') }}

<div id="historico-reunioes-component">Carregando...</div>

{# {{ dump(historico_reunioes) }} #}

