<div class="">
	<h2 class="text-center">Informações de Presenças da Comissão</h2>

	<table id="presencas" class="table">
    <caption>Número de reuniões no mês:</caption>
		<thead class="">
			<tr class="">
				<th rowspan="2" class="align-middle">Membros titulares</th>
				<th rowspan="2" class="align-middle">Presenças</th>
				<th colspan="9" class="text-center">Licenças</th>
				<th colspan="2" class="text-center">Faltas</th>
			</tr>
      <tr>
				<th>Saúde</th>
				<th>Saúde Família Viagem</th>
				<th>Viagem Exterior</th>
				<th>Missão Oficial</th>
				<th>Maternidade Paternidade</th>
				<th>Missão Diplomática ou Cultural</th>
				<th>Casamento</th>
				<th>Falecimento de Familiar</th>
				<th>Interesse Particular</th>
				<th>Justificadadas</th>
				<th>Não Just.</th>
      </tr>
		</thead>

		<tbody>
			<tr>
				<td>TEste</td>
				<td>asd</td>
				<td>sssss</td>
				<td>sssss</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>sss</td>


        {# nomeDeputado #}
        {# presenca #}
        {# licencaSaude #}
        {# licencaSaudeFamilia #}
        {# licencaViagemExterior #}
        {# licencaMissaoOficial #}
        {# licencaMaternoPaterno #}
        {# licencaMissaoDiplom #}
        {# licencaCasamento #}
        {# licencaFalecFamilia #}
        {# licencaInteresseParticular #}
        {# faltaJustificada #}
        {# faltaNaoJustificada #}

			</tr>
		</tbody>

	</table>
</div>
