.widget-deputados {
    background-color: #293341;
    color: white;
    width: 100%;
    max-width: 1136px;
    margin: 0 auto;
    margin-bottom: 50px;
    &:hover .card-item {
        display: block;
    }
    .ant-carousel .slick-slider {
        .slick-list {
            overflow: hidden;
            border-radius: 20px;    
            margin-bottom: -100px;              
        }
        .slick-dots li button:before {
            opacity: 1;
            color: white;
        }
        .slick-arrow {
            margin: 0;
            top: calc(50% - -12px);
            z-index: 30;
            svg {
                fill: #293341;
                height: 35px;
                width: 35px;
                line-height: 0;
                text-shadow: 0px 0px 0px black;                
            }
            &.slick-next {
                right: 15px;
            }
            &.slick-prev {
                left: 0;
            }            
        }     
        .item-inner {
            display: grid !important;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-column-gap: 0;
            grid-row-gap: 0;
            justify-items: stretch;
            align-items: stretch;
            width: 100%;
            & > * {
                overflow: hidden;
                height: 0;
                padding: 0 0 100%;
                cursor: pointer;
                position: relative;
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: calc(100% + 75px);
                    width: 100%;
                    object-fit: cover;
                }                
            }
        }            
    }
}