.owl-carousel .owl-item {
    padding: 0 !important;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
    position: relative;
}

#block-views-block-noticias-block-noticias-deputados .content {
    padding-top: 35px;
}

#conteudos {
    background-color: white;
    .item {
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }
    .card {
        border-radius: 20px;
        background-color: #f3f7fc;
        padding: 30px;
        border: 0;
        cursor: pointer;
        &-info {
            .featured {
                background-color: white;
                padding: 7px 15px;
            }
        }
    }    
}