.form-item-comissao {
  text-align: center;
  padding-bottom: 30px;
}

.form-item-comissao #edit-comissao {
  height: 65px;
  border-radius: 999px;
  border: 1px solid rgb(51, 51, 51);
  outline: currentcolor none 0px;
  width: 710px;
  text-align: center;
  text-align-last: center;
  cursor: pointer;
}

#nominatas-list .nominata img {
  min-height: 140px;
  max-width: 140px;
}

#nominatas-list .nominata h4 {
  font-size: 18px;
  width: 168px;
}

#nominatas-list .nominata span {
  font-weight: bold;
}

.deputado-image {
  /* background-image: attr(data-image url); */
  border: 1px solid darkgray;
  color: #000;
  text-shadow: 1px 1px 0 #fff;
  height: 214px;
  /* width: 212px; */
  width: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
}

.nominata[data-group="Presidente"] {
  align-items: center;
  align-content: center;
  justify-content: center;
}

/* .form-item-comissoes  {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#edit-comissoes {
  height: 65px;
  border-radius: 999px;
  border: 1px solid rgb(51, 51, 51);
  outline: currentcolor none 0px;
  width: 710px;
  text-align: center;
  text-align-last: center;
  cursor: pointer;
}

.container {
  max-width: 1140px;
}

.Presidente, .Vice-Presidente {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  text-align: center;
  white-space: pre-line;
}

.Titular, .Suplente {
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: normal;
  flex-flow: row wrap;
  white-space: pre-line;
}

.estilo3 {
  margin: 0px 30px;
  max-width: 160px;
}

.estilo4 img {
  border-radius: 20px;
  width: 140px;
  height: 140px;
}

img {
  vertical-align: middle;
  border-style: none;
} */
