{{ attach_library('alergs_opine/react-app') }}
{{ attach_library('alergs_opine/alergs-opine') }}
<script src="https://www.google.com/recaptcha/api.js?hl=pt-BR" async defer></script>

<div>
	<div id="my-app-target"></div>
</div>