
    .ouvidoriaContent{
        .overlay{ display: block;width: 100%;height: 100%;position: absolute;z-index: 222;
            .overlay-content{text-align: center;top: 20%;position: relative;}
        }
   
    #ouvidoriaForm{
        color: #fff;
        .form-control{border-radius:10px; border:1px solid #fff;color:#fff;background:none
        
        
        }
        .form-control.has-error{border-color: red;}
        select{padding:.5rem!important;padding-left:1.5rem!important;padding-right: 1.5rem!important;min-height: 50px;
        
            option {
                
                background: rgba(35, 42, 40, 0.9);
                color: #fff;
                
            }
        
        }
        p.has-error{color: red;margin:20px 0}

         /*css style for IE*/
         select[disabled='disabled']::-ms-value {
            color:rgba(255,255,255,.7);
        }
        /*Specific to chrome and firefox*/
        select[disabled='disabled'] {
            color:rgba(255,255,255,.7);
        }

        .checkbox{width:12px ;height:12px;border-radius: 50%;margin-right: 10px;}
        .enviar{background-color: #fdc100;border:none;padding:10px 25px;border-radius: 15px;}
        a{color:hsl(158, 45%, 40%)}

    *::-webkit-input-placeholder {
        color:rgba(255,255,255,.9);
    }
    *:-moz-placeholder {
        /* FF 4-18 */
        color: rgba(255,255,255,.9);
        opacity: 1;
    }
    *::-moz-placeholder {
        /* FF 19+ */
        color: rgba(255,255,255,.9);
        opacity: 1;
    }
    *:-ms-input-placeholder {
        /* IE 10+ */
        color: rgba(255,255,255,.9);
    }
    *::-ms-input-placeholder {
        /* Microsoft Edge */
        color: rgba(255,255,255,.9);
    }
    *::placeholder {
        /* modern browser */
        color: rgba(255,255,255,.9);
    }


}
}