.transmissoesSection {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	h3 {
		font-weight: bold;
	}
	.transmissoesMenu {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		background-color: #f3f7fc;
		box-sizing: border-box;
		padding: 30px;
		width: 100%;
		flex-wrap: wrap;
		
		.filterButton:hover {
			box-shadow: 0px 0px 2px 1px rgb(0 0 0 / 20%);
			text-decoration: none;
		}
		.filterButton {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			background-color: white;
			box-sizing: border-box;
			margin: 0 20px;
			cursor: pointer;
			position: relative;
			border-radius: 15px;
			padding: 30px 10px;
			width: 133px;
			height: 140px;
			.filterIcon {
				width: 35px;
			}
			.filterLabel {
				margin-top: 10px;
				text-align: center;
				color: #333333;
				font-size: 14px;
				font-weight: 700;
				max-width: 100%;
				:hover {
					text-decoration: none;
				}
			}
		}
		.selectedFilter {
			box-shadow: 0px 0px 2px 1px rgb(0 0 0 / 20%);
		}

		@media (max-width: 900px) {
			.filterButton {
				margin-top: 20px;
				width: 133px;
				height: 140px;
				padding: 30px 10px;
				.filterLabel {
					font-size: 14px;
				}
				.filterIcon {
					width: 35px;
				}
			}
		}
	}
	.transmissoesHeader {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		width: 100%;
		color: #333;
		margin: 40px 0;
		.title {
			font-size: 28px;
			font-weight: 700;
		}
		.subtitle {
			font-size: 14px;
		}
	}
	.refresh {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		width: 80%;
		margin: 10px 0;
		cursor: pointer;
		img {
			height: 20px;
		}
		span {
			font-size: 14px;
			text-align: flex-start;
		}
	}

	@media (max-width: 800px) {
		.refresh {
			width: 100%;
		}
	}
}

.cardTrasmissao {
	display: flex;
	cursor: pointer;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	width: 100%;
	background-color: #f3f7fc;
	border-radius: 20px;
	margin-bottom: 10px;
	padding: 20px;

	.tipoTrasmissao {
		color: white;
		text-align: center;
		box-sizing: border-box;
		padding: 8px;
		background-color: #293341;
		h3 {
			font-size: 16px;
			margin: 0%;
		}
	}
	
	.titulo {
		font-size: 18px;
		font-weight: 700;
		margin-top: 10px;
	}
	.infoRow {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		margin-top: 10px;
		.labeledIcon {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			margin-right: 10px;
			.icon {
				height: 16px;
				margin-right: 5px;
			}
			.label {
				font-size: 12px;
			}
		}
	}

	.trasmissaoURL {
		color: #15894F;
		text-decoration: underline;
		margin-top: 10px;
		font-size: 14px;
	}

}